.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 1rem;
  gap: 2px;
}

.tab {
  padding: 5px 10px;
  background-color: white;
  cursor: pointer;
  color: rgb(0, 0, 0);
}

.active {
    background-color: rgb(6 49 74);
    color: white;
}
