.details-container {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.column1 {
  min-width: 65%;
  border-right: 1px solid #f1f0f0;
}

h1 {
  font-size: 2em !important;
  padding: 0px 0px 1rem 0px;
}

p {
  margin-bottom: 20px;
}

.done-button {
  margin-top: 3rem;
  float: inline-end;
}

.view-container {
  padding: 1rem;
}

.date-time {
  margin: 5px 0;
}

select {
  padding: 2px;
  font-size: 12px;
}