<div class="board-container">
  <div class="root">
    <div class="board-columns">
      <div class="board-column" *ngFor="let column of board.columns">
        <div class="column-title">
          <h3>{{ column.name }}</h3>
          <mat-divider></mat-divider>
        </div>
        <div
          class="tasks-container"
          id="{{ column.id }}"
          [cdkDropListConnectedTo]="['101', '102', '103']"
          cdkDropList
          [cdkDropListData]="column.tasks"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="task" *ngFor="let item of column.tasks" cdkDrag>
            <p class="card-title">{{ item.title }}</p>
            <div class="card-info">
              <div class="due-date">
                <label for=""
                  ><mat-icon [style.color]="getCalendarColour(item.dueDate)"
                    >date_range</mat-icon
                  ></label
                >
                <span>{{ item.dueDate }}</span>
              </div>
              <mat-icon
                [style.color]="getColour(item.priority)"
                class="mat-icon-flag"
                >flag</mat-icon
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
