<p>task-board works!</p>

<div class="task-baord-container">
  <div class="task-board">
    <div class="open-col">
      <h2>Open</h2>
      <div class="cards">
        <div class="card">
          <h4>New task to do. complete on time</h4>
          <p>Due Date:12/01/2024</p>
          <p>Priority:High</p>
        </div>

        <div class="card">
          <h4>New task to do. complete on time</h4>
          <p>Due Date:12/01/2024</p>
          <p>Priority:High</p>
        </div>
      </div>
    </div>
    <div class="in-progress-col">
      <h2>In Progress</h2>
      <div class="cards">
        <div class="card">
          <h4>New task to do. complete on time</h4>
          <p>Due Date:12/01/2024</p>
          <p>Priority:High</p>
        </div>
      </div>
    </div>
    <div class="completed-col">
      <h2>Completed</h2>
      <div class="cards">
        <div class="card">
          <h4>New task to do. complete on time</h4>
          <p>Due Date:12/01/2024</p>
          <p>Priority:High</p>
        </div>
      </div>
    </div>
  </div>
</div>
