<div class="container">
  <div class="table-header-section">
    <div class="action-filters" *ngIf="tasks.length > 0">
      <input
        class="search-input-class"
        [(ngModel)]="searchText"
        placeholder="Type task title to search"
      />
      <div class="sorting-options">
        <button
          mat-stroked-button
          (click)="sortData('priority')"
          color="primary"
        >
          Sort by Priority
        </button>
        <button
          mat-stroked-button
          (click)="sortData('dueDate')"
          color="primary"
        >
          Sort by Due Date
        </button>
      </div>
    </div>
    <button mat-raised-button (click)="openAddTaskDialog()" color="primary">
      ADD TASK
    </button>
  </div>

  <table
    *ngIf="tasks.length > 0"
    mat-table
    [dataSource]="
      tasks
        | search : searchText
        | slice : pageIndex * pageSize : (pageIndex + 1) * pageSize
    "
    class="mat-elevation-z8"
  >
    <ng-container matColumnDef="counter">
      <th mat-header-cell *matHeaderCellDef style="width: 50px">Sr No.</th>
      <td mat-cell *matCellDef="let i = index">
        {{ calculateSerialNumber(i) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef style="width: 100px">Task ID</th>
      <td mat-cell *matCellDef="let element" style="width: 100px">
        {{ element.id }}
      </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Task Title</th>
      <td mat-cell *matCellDef="let element">{{ element.title }}</td>
    </ng-container>

    <ng-container matColumnDef="priority">
      <th mat-header-cell *matHeaderCellDef style="width: 100px">Priority</th>
      <td mat-cell *matCellDef="let element" style="width: 100px">
        {{ element.priority }}
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef style="width: 100px">Status</th>
      <td mat-cell *matCellDef="let element" style="width: 100px">
        <select matNativeControl (change)="onStatusChange($event, element.id)">
          <option
            value="open"
            [attr.selected]="element.status === 'open' ? true : null"
          >
            Open
          </option>
          <option
            value="in-progress"
            [attr.selected]="element.status === 'in-progress' ? true : null"
          >
            In-progress
          </option>
          <option
            value="completed"
            [attr.selected]="element.status === 'completed' ? true : null"
          >
            Completed
          </option>
        </select>
      </td>
    </ng-container>

    <ng-container matColumnDef="dueDate" style="width: 150px">
      <th mat-header-cell *matHeaderCellDef style="width: 150px">Due Date</th>
      <td mat-cell *matCellDef="let element">{{ element.dueDate }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element" class="action-column">
        <mat-icon (click)="viewTask(element.id)">visibility</mat-icon>
        <mat-icon (click)="editTaskDialog(element.id)">edit</mat-icon>
        <mat-icon (click)="deleteTask(element.id)">delete</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    *ngIf="tasks.length > 0"
    [length]="tasks.length"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
  ></mat-paginator>

  <div *ngIf="tasks.length == 0">
    <p class="no-task-message">
      No task to show here. Please add task by clicking on ADD TASK button.
    </p>
  </div>
</div>
